@page
@model LibraryModel
@{
    ViewData["Title"] = "Biblioteka";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" id="search-form">
            Wyszukaj według tytułu:<br/>
            <div class="form-floating input-group">
                <input class="form-control" id="search" name="search" />
                <label for="search">Tytuł</label>
                <input id="search-btn" class="btn btn-primary input-group-append" type="submit" asp-page-handler="Search" value="Szukaj">
            </div>
        </form>
    </div>
    <div class="col-md-4 offset-4">
        <form method="post" id="create-form">
            Utwórz nowy element:<br/>
            <div class="form-floating input-group">
                <select name="type" id="create-type" class="form-control">
                    <option value="BOOK">Książka</option>
                    <option value="MAGAZINE">Czasopismo</option>
                    <option value="MULTIMEDIA">Multimedia</option>
                </select>
                <label for="create-type">Typ zasobu</label>
                <input id="create-btn" class="btn btn-success input-group-append" type="submit" asp-page-handler="Create" value="Dodaj">
            </div>
        </form>
    </div>
</div>
<br/><br/>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Typ</th>
        <th>Akcje </th>
    </tr>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Author</td>
            <td>@item.ItemType </td>
            <td style="width: 20%;">
                <partial name="Shared/_LibItemButtons" for="@item"/>
            </td>
        </tr>
    }
</table>